/*
 * -------------------------------------------------
 *  Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 */

manifest {
  // TODO name = '@git_repo_name@'
  // TODO description = '@ap_pipeline_description@'
  // TODO homePage = '@git_url@'
  author = 'Institut Curie - Bioinformatics core facility'
  // TODO version = 2.0.0dev
  // TODO mainScript = 'main.nf'
  // TODO nextflowVersion = '>=19.10.0'
  // TODO doi = ''
}


/**********
 * Params *
 **********/

params {
  email = false
  help = false
  name = false
  samplePlan = false
  design = false

  // Analysis parameters
  genome = false
  singleEnd = false
  reads = null
  readPaths = null
  multiqcConfig = "$projectDir/assets/multiqcConfig.yaml"
  metadata = "$projectDir/assets/metadata.tsv"

  skipFastqc = false
  skipMultiQC = false
  skipSoftVersions = false

  // Output directories
  outDir = "$launchDir/results"
  summaryDir = "${params.outDir}/summary"
}

/************************
 * Configs and profiles *
 ************************/

// Additional configs
includeConfig 'conf/base.config'
includeConfig 'conf/process.config'
includeConfig 'conf/geniac.config'

// Profiles
profiles {
  conda {
    includeConfig 'conf/conda.config'
  }
  multiconda {
    includeConfig 'conf/multiconda.config'
  }
  apptainer {
    includeConfig 'conf/apptainer.config'
  }
  docker {
    includeConfig 'conf/docker.config'
  }
  singularity {
    includeConfig 'conf/singularity.config'
  }
  path {
    includeConfig 'conf/path.config'
  }
  multipath {
    includeConfig 'conf/multipath.config'
  }
  podman {
    includeConfig 'conf/podman.config'
  }
  cluster {
    includeConfig 'conf/cluster.config'
  }
  test{
    includeConfig 'conf/test.config'
  }
}

// Annotation paths
includeConfig 'conf/genomes.config'

// Load modules
includeConfig 'conf/modules.config'
