/*
 * -------------------------------------------------
 *  Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 */

report.overwrite = true
timeline.overwrite = true

manifest {
  name = 'microscopic-imaging-analysis'
  // TODO description = '@ap_pipeline_description@'
  homePage = 'https://gitlab.curie.fr/mcorbe/microscopic-imaging-analysis'
  author = 'Institut Curie - Bioinformatics core facility'
  version = '0.0.3dev'
  mainScript = 'main.nf'
  nextflowVersion = '>=19.10.0'
  // TODO doi = ''
}


/**********
 * Params *
 **********/

params {
  email = false
  help = false
  name = false

  // Analysis parameters
  overlap = 0.1
  mode = ""

  // Output directories
  outDir = "$launchDir/results"
  summaryDir = "${params.outDir}/summary"
}

/************************
 * Configs and profiles *
 ************************/

// Additional configs
includeConfig 'conf/base.config'
includeConfig 'conf/process.config'
includeConfig 'conf/geniac.config'

// Profiles
profiles {
  conda {
    includeConfig 'conf/conda.config'
  }
  multiconda {
    includeConfig 'conf/multiconda.config'
  }
  apptainer {
    includeConfig 'conf/apptainer.config'
  }
  docker {
    includeConfig 'conf/docker.config'
  }
  singularity {
    includeConfig 'conf/singularity.config'
  }
  path {
    includeConfig 'conf/path.config'
  }
  multipath {
    includeConfig 'conf/multipath.config'
  }
  podman {
    includeConfig 'conf/podman.config'
  }
  cluster {
    includeConfig 'conf/cluster.config'
  }
  abacus {
    includeConfig 'conf/abacus.config'
  }
  test{
    includeConfig 'conf/test.config'
  }
}

// Load modules
includeConfig 'conf/modules.config'
