/*
 * -------------------------------------------------
 *  Config the cluster profile and your scheduler
 * -------------------------------------------------
 */
 params {

  maxMemory = 156.GB
  // abacus param
  queue = "dev"
  clusterOptions = " --account dev"

}

process {
  executor = 'slurm'
  queue = params.queue ?: null
  clusterOptions = params.clusterOptions ?: null
  
}

singularity.libraryDir = params.singularityLibraryDir ?: "/mnt/beegfs/common/containers/singularity/dev/multiplex_image_analysis/"
apptainer.libraryDir = params.apptainerLibraryDir ?: "/mnt/beegfs/common/containers/singularity/dev/multiplex_image_analysis/"
