/*
 * -------------------------------------------------
 *  Config the cluster profile and your scheduler
 * -------------------------------------------------
 */

process {
  executor = 'slurm'
  queue = params.queue ?: null
  clusterOptions = params.clusterOptions ?: null
  
}

singularity.libraryDir = "/mnt/beegfs/common/containers/singularity/dev/multiplex_image_analysis/"
apptainer.libraryDir = "/mnt/beegfs/common/containers/singularity/dev/multiplex_image_analysis/"

params {

  maxMemory = 156.GB

}
