/***********************************
 * Default for environment options *
 ***********************************/

params {

  // Cluster
  queue = null

  // Conda
  condaCacheDir = "$HOME/conda-cache-nextflow"

  // Singularity image path
  apptainerImagePath = ""

  // Singularity image path
  singularityImagePath = ""

  // Global path used for path or multipath profiles
  globalPath = ""

  genomeAnnotationPath = ""
  minMemory = 2.GB

  // Output directories
  outDir = "$launchDir/results"
  summaryDir = "${params.outDir}/summary"

  // abacus param
  queue = "dev"
  clusterOptions = " --account dev"


  // Analysis parameters

  masks {
    overlap = 120 //pixels
  } 

  normalization {
    mode = "auto"
  }

  segmentation {
    name = "cellpose"
    tileHeight = null
    overlap = 0.1 // percentage
    cpu = 4
    memory = 8.GB
  }

  cellpose {
    models = ["tissuenet_cp3", "cyto2_cp3"]
    additionalParms = "--restore_type denoise_cyto3 --no_norm"
  }

  mesmer {
    models = []
  }

  mergeMasks {
    chunksize = 8192
  }

  quantification {
    normalization = true
  }

  outline = "original" // can be set to 'merged' to get outline with merged channels
  keepChannelName = false

}
