/***********************************
 * Default for environment options *
 ***********************************/

params {

  // Cluster
  queue = null

  // Conda
  condaCacheDir = "$HOME/conda-cache-nextflow"

  // Singularity image path
  apptainerImagePath = ""

  // Singularity image path
  singularityImagePath = ""

  // Global path used for path or multipath profiles
  globalPath = ""

  genomeAnnotationPath = ""
  minMemory = 2.GB

  // Output directories
  outDir = "$launchDir/results"
  summaryDir = "${params.outDir}/summary"

  // abacus param
  queue = "dev"
  clusterOptions = " --account dev"


  // Analysis parameters

  masks {
    overlap = 120 //pixels
  } 

  normalization {
    mode = "auto"
  }

  segmentation {
    name = "cellpose"
    tileHeight = null
    overlap = 0.1 // percentage
    additionalParms = "--restore_type denoise_cyto3"
  }

  quantification {
    normalization = true
  }

  outline = "merged"

}
