params {
  geniac {

    // Installation paths
    multiPath = params.globalPath ?: "${projectDir}/../multipath"
    path = params.globalPath ?: "${projectDir}/../path/bin"
    singularityImagePath = params.singularityImagePath ?: "${projectDir}/../containers/singularity"
    apptainerImagePath = params.apptainerImagePath ?: "${projectDir}/../containers/singularity"

    tools {
      // Add your tools available in conda here, for example:
      python = "${projectDir}/recipes/conda/python.yml"
      mergechannels = "${projectDir}/recipes/conda/mergechannels.yml"
      displayoutline = "${projectDir}/recipes/conda/displayoutline.yml"
      cellpose = "${projectDir}/recipes/conda/cellpose.yml"
      quantification = "${projectDir}/recipes/conda/quantification.yml"
    }

    // options for singularity and docker containers
    containers {
      singularityRunOptions = ""
      apptainerRunOptions = ""
      dockerRunOptions = ""
      podmanRunOptions = ""

      // containers are based on CentOS linux
      // some tools require dependencies to be installed with 'yum install'
      // specific dependencies are listed below
      // yum {
        // example of dependency:
        // fastqc = 'fontconfig dejavu*'
      // }

      //cmd {
      //    post {
      //        fastqc = ['echo Hello', 'echo \"This is fastqc tool!\"']
      //    }

      //    envCustom {
      //        fastqc = ['FASTQC_VAR0=\"fastqc tool variable0\"', 'FASTQC_VAR1=\"fastqc tool variable1\"']
      //    }
      //}

      //git {
      // keep this as syntax example
      //some_tools = 'https://github.com/some_user/some_tools::commit_hash'
      //}
    }
  }

  genomeAnnotationPath = ""
}
