/*
 * Define modules options
 */


process {

  // Default
  publishDir = [
    path: { "${params.outDir}/${task.process.tokenize(':')[-1].tokenize('_')[0]}" },
    mode: 'copy',
    saveAs: { filename -> filename.equals('versions.txt') ? null : filename }
  ]

  withName:'mergeChannels' {
    publishDir = [
      path: { "${params.outDir}/merge_channels/" },
      mode: 'copy',
      pattern: "*.ti{f,ff}"
    ]
  }

  withName:'segmentation' {
    publishDir = [
      path: { "${params.outDir}/masks/" },
      mode: 'copy',
      pattern: "*.ti{f,ff}"
    ]
  }

  withName:'displayOutline' {
    publishDir = [
      path: { "${params.outDir}/outlines/" },
      mode: 'copy',
      pattern: "*.ti{f,ff}"
    ]
  }

  withName:'quantification' {
    publishDir = [
      path: { "${params.outDir}/quantification/" },
      mode: 'copy',
      pattern: "*.csv"
    ]
  }

  withName:'getSoftwareVersions' {
    publishDir = [
      path: { "${params.outDir}/softwareVersions" },
      mode: 'copy'
    ]
  }

  withName:'outputDocumentation' {
    publishDir = [
      path: { "${params.summaryDir}" },
      mode: 'copy'
    ]
  }
}