/*
 * Define modules options
 */


process {

  // Default
  //publishDir = [
  //  path: { "${params.outDir}/${task.process.tokenize(':')[-1].tokenize('_')[0]}" },
  //  mode: 'copy',
  //  saveAs: { filename -> filename.equals('versions.txt') ? null : filename }
  //]

  withName:'splitImage' {
     ext.args = params.segmentation.overlap ? " --overlap $params.segmentation.overlap" : ""
     ext.args += params.segmentation.tileHeight ? " --height $params.segmentation.tileHeight" : ""
  }

  withName:'pyramidize' {
    publishDir = [
      path: { "${params.outDir}/${tag}/" },
      mode: 'copy',
    ]
  }

  withName:'computeMasks' {
    ext.args = params.masks.overlap != null ? " --overlap $params.masks.overlap" : ""
    withLabel: 'img_utils' {queue = "dev_gpu"}
  }
 
  withName:'stitch' {
    publishDir = [
      path: { "${params.outDir}/masks/" },
      mode: 'copy',
      pattern: "*_masks.ti{f,ff}"
    ]
    ext.args = params.segmentation.overlap ? " --overlap $params.segmentation.overlap" : ""
  }

  withName:'quantification' {
    publishDir = [
      path: { "${params.outDir}/quantification/" },
      mode: 'copy',
      pattern: "*.csv",
      saveAs: { filename -> "${meta.originalName}_data.csv" }
    ]

    ext.args = params.quantification.normalization ? "--normalize $params.normalization.mode" : "" 
  }

  withName:'getSoftwareVersions' {
    publishDir = [
      path: { "${params.outDir}/softwareVersions" },
      mode: 'copy'
    ]
  }

  withName:'outputDocumentation' {
    publishDir = [
      path: { "${params.summaryDir}" },
      mode: 'copy'
    ]
  }

  withName:'mask2geojson' {
    publishDir = [
      path: { "${params.outDir}/quantification/" },
      mode: 'copy',
      pattern: "*.geojson",
    ]
    ext.when = (params.outline == "none") | params.makeGeoJson
  } 
  
  withName:'displayOutline' {
    ext.when = params.outline != "none"
  }

  withName:'mergeChannels' {
    ext.args = params.normalization.mode ? "--norm $params.normalization.mode" : "" 
  }

  // withName:'seg' {
    // ext.args = params.segmentation.additionalParms ? "$params.segmentation.additionalParms" : "" 
  // }

  withName:'mergeMasks' {
    publishDir = [
      path: { "${params.outDir}/masks/" },
      mode: 'copy',
      pattern: "*_masks.ti{f,ff}"
    ]
    ext.args = params.masks.overlap != null ? " --overlap $params.masks.overlap" : ""
    ext.args += params.mergeMasks.chunksize ? " --chunk_size $params.mergeMasks.chunksize" : ""
    ext.args += params.mergeMasks.threshold ? " --threshold $params.mergeMasks.threshold" : ""
  }


}