
  cellpose {
    diameter = 30.0 // per default its estimated by cellpose
    modelsList = ["tissuenet_cp3", "cyto2_cp3"]
    additionalParms = "--restore_type denoise_cyto3 --no_norm"
    baseParms = "--savedir . --channel_axis 0 --verbose --chan 2 --chan2 1 --diameter \$diameter"
    cmd = "cellpose"
    input = "--image_path"
    model = "--pretrained_model"
    stitch = "stitch_flows.py"
    compute = "compute_cellpose_flows.py"
  }

  mesmer {
    diameter = 30.0
    modelsList = [""]
    additionalParms = ""
    baseParms = "--squeeze --output-directory . --membrane-channel 1"
    cmd = "wrapper_mesmer.py"
    input = "--nuclear-image"
    membraneInput = "--membrane-image"
    output = "--output-name"
    stitch = "stitch_mesmer_output.py"
    compute = "compute_mesmer.py"
  }

  instanseg {
    diameter = 30
    modelsList = [""]
    additionalParms = "--model_name fluorescence_nuclei_and_cells --reader custom-ome-tiff"
    baseParms = ""
    cmd = "wrapper_instanseg.py"
    input = "--img_path"
    output = "--out_path"
    stitch = 'stitch_masks.py'
    compute = null // if null output name from stitch should end with _masks.tiff
  }