
  cellpose {
    diameter = 30.0 // per default its estimated by cellpose
    models = ["tissuenet_cp3", "cyto2_cp3"]
    additionalParms = " --restore_type denoise_cyto3 --no_norm"
    baseParms = "\" --savedir . --channel_axis 0 --verbose --diameter $diameter --chan 2 --chan2 1 --pretrained_model \$model\""
    cmd = "\"cellpose --image_path \$inOut.image\""
  }

  mesmer {
    diameter = 30.0
    models = []
    additionalParms = ""
    baseParms = "\" --squeeze --output-directory . --membrane-channel 1\""
    cmd = "\"wrapper_mesmer.py --output-name \$inOut.output --nuclear-image \$inOut.image --membrane-image \$inOut.image\""
  }