
  cellpose {
    diameter = 30.0 // per default its estimated by cellpose
    modelsList = ["tissuenet_cp3", "cyto2_cp3"]
    additionalParms = "--restore_type denoise_cyto3 --no_norm"
    baseParms = "--savedir . --channel_axis 0 --verbose --chan 2 --chan2 1 --diameter $diameter"
    cmd = "cellpose"
    input = "--image_path"
    model = "--pretrained_model"
  }

  mesmer {
    diameter = 30.0
    modelsList = [""]
    additionalParms = ""
    baseParms = "--squeeze --output-directory . --membrane-channel 1"
    cmd = "wrapper_mesmer.py"
    input = "--nuclear-image"
    membraneInput = "--membrane-image"
    output = "--output-name"
  }

  instanseg {
    diameter = 30
    modelsList = [""]
    additionalParms = "--model_name fluorescence_nuclei_and_cells --reader custom-ome-tiff"
    baseParms = ""
    cmd = "wrapper_instanseg.py"
    input = "--img_path"
    output = "--out_path"
  }