/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 * nextflow run main.nf -profile test
 */

params {
  // Limit resources for tests
  maxCpus = 2
  maxMemory = 4.GB
  maxTime = 1.h

  // Input data
  images = "$projectDir/test/data/image_test.ome.tiff"
  markers = "$projectDir/test//markers.csv"

}
